
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
   /* background-color: #23252c; */
}

#page1 {
    width: 400px;
    height: 400px;
}

a {
   all: unset;
}
